<ion-view hide-nav-bar="false" view-title="Airport Maintenance" style="background: url(img/login_img.jpg) no-repeat center;opacity:0.9;background-size:cover;">
    <ion-content>
        <!--     <div>
            <i class="icon {{citem.icon}} "></i> 
            <button class="button button-full button-positive" ng-repeat="citem in categories track by $index " ng-click="viewSubPage($index) ">
               {{citem.subPageName}}
            </button>
        </div> -->
        <!--  <div class="bottom-content row">
            <div class="col col-bottom" style="margin: 0px auto">
                <a class="google-sign-in button button-positive button-block icon-right ion-chevron-right" ng-repeat="citem in categories track by $index " ng-click="viewSubPage($index) ">
                    <span class="btn-copy ">{{citem.subPageName}}</span>
                </a>
            </div>
        </div> -->
        <ul class="cate-lv1">
            <li class="item-background cate-lv1-item" ng-repeat="citem in categories track by $index " ng-click="viewSubPage($index) " style="background: url(img/{{$index+1}}.jpg) no-repeat; background-size: cover; opacity: 0.9;">
                <div class="item-wrapper">
                    <h2 style="background: rgba(95, 88, 88, 0.73); text-align: ; float:left; padding: 10px;text-transform: uppercase;font-size: 24px;">{{citem.subPageName}}</h2>
                </div>
            </li>


            <li class="item-background cate-lv1-item" ng-click="viewSubPage(1 , 'Open')" style="background: url(img/3.jpg) no-repeat; background-size: cover; opacity: 0.9;">
                <div class="item-wrapper">
                    <h2 style="background: rgba(95, 88, 88, 0.73); text-align: ;float:left;  padding: 10px;text-transform: uppercase;font-size: 24px;">Open Issues</h2>
                </div>
            </li>


            <li class="item-background cate-lv1-item" ng-click="viewSubPage(1 , 'Escalation 1')" style="background: url(img/1.jpg) no-repeat; background-size: cover; opacity: 0.9;">
                <div class="item-wrapper">
                    <h2 style="background: rgba(95, 88, 88, 0.73); text-align: ;float:left;  padding: 10px;text-transform: uppercase;font-size: 24px;">Escalation Level 1</h2>
                </div>
            </li>


            <li class="item-background cate-lv1-item" ng-click="viewSubPage(1 , 'Escalation 2')" style="background: url(img/2.jpg) no-repeat; background-size: cover; opacity: 0.9;">
                <div class="item-wrapper">
                    <h2 style="background: rgba(95, 88, 88, 0.73); text-align: ;float:left;  padding: 10px;text-transform: uppercase;font-size: 24px;">Escalation Level 2</h2>
                </div>
            </li>


            <li class="item-background cate-lv1-item" ng-click="viewSubPage(1 , 'Close')" style="background: url(img/4.jpg) no-repeat; background-size: cover; opacity: 0.9;">
                <div class="item-wrapper">
                    <h2 style="background: rgba(95, 88, 88, 0.73); text-align: ;float:left;  padding: 10px;text-transform: uppercase;font-size: 24px;">Closed Issues</h2>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
