/*______________home1__________________________________*/



.bar-stable .button.button-clear {
    color: #fff  !important;
    !background: #2196f3 !important;

}
.bar.bar-stable  {
   color: #fff  !important;
    background: #f58634 !important;

}
.title{
    color: #fff !important;
}
.item {
    border-color: #ddd;
    background-color: rgba(255, 255, 255, 0.32) !important;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    /*padding: 16px;*/
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
        margin-bottom: 10px;
}
.item_color_icon {
    /*color: white !important;*/
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}


/* PAGE CATEGORY */
.cate-lv1 {
  list-style: none;
  margin: 0;
  padding: 0; }
  .cate-lv1 .cate-lv1-item {
    display: table;
    width: 100%;
    height: 140px;
    margin-bottom: 2px;
    position: relative; }
    .cate-lv1 .cate-lv1-item:last-child {
      margin-bottom: 0; }
    .cate-lv1 .cate-lv1-item.item-background:before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      !!background-color: rgba(0, 0, 0, 0.6); }
    .cate-lv1 .cate-lv1-item .item-wrapper {
      text-align: center;
      display: table-cell;
      vertical-align: bottom;
      position: relative;
      z-index: 1; }
      .cate-lv1 .cate-lv1-item .item-wrapper h2 {
        font-size: 30px;
        color: #FFFFFF;
        margin-bottom: 5px; }
      .cate-lv1 .cate-lv1-item .item-wrapper p {
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 0; }

.cate-lv2 .cate-lv2-item {
  margin: 5px 10px; }
  .cate-lv2 .cate-lv2-item:first-child {
    margin-top: 10px; }
  .cate-lv2 .cate-lv2-item:last-child {
    margin-bottom: 10px; }
  .cate-lv2 .cate-lv2-item .item > img {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    border-radius: 3px; }
  .cate-lv2 .cate-lv2-item .item h2 {
    text-transform: uppercase; }
  .cate-lv2 .cate-lv2-item .item .price {
    font-weight: 600;
    color: #86d44d;
    display: block;
    width: 80px;
    position: absolute;
    bottom: 10px; }
  .cate-lv2 .cate-lv2-item .item .like {
    color: #cccccc;
    position: absolute;
    bottom: 10px;
    right: 15px; }
