.flex-row {
  /* @include display("flex"); */
    display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  
  /* @include flex-direction(row); */
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  
  /* @include flex-wrap(wrap) */
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} 
.col {
  /*flex-grow: 1;*/
  flex-basis: 200px;
  
  margin: 20px;
  height: 300px;
  min-width: 30%;
  
  /* To account for odd number of children. 50% minus sum of margin*/
  /*max-width: calc(50% - 40px);*/
}
.g-item-avatar
{
    position: absolute;
    top: 16px;
    left: 10px;
    right: 10px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.list-thumbnailsCircleLeft_WBG-item-a {
    color: inherit;
    text-decoration: none;
    width: 100% !important;
}