<ion-view title="Issues">
    <ion-content>

<div class="list">

  <label class="item item-input item-select" ng-show="internalVars.showFilters" >
    <div class="input-label">
      Department
    </div>
    <select  ng-change="changedDepartment($index)"  ng-model="internalVars.filedInputValue" >
      <option  selected >All</option>

      <option  ng-repeat="deptname in internalVars.deptnames track by $index" value="{{deptname}}"> {{deptname}} </option>

    </select>
  </label>

</div>


        <div class="list">
            <a class="item item-thumbnail-left list-thumbnailsCircleLeft_WBG-item-a" ng-repeat="citem in listOfData track by $index" ng-click="viewSubPage($index)">
                <img src="{{centralServer}}{{citem.descList[7].value}}">
                <h2>{{citem.iHeader}} </h2>
                <p  ng-repeat="itemDesc in citem.descList track by $index" ng-hide="{{itemDesc.label === 'Issue picture'}}" ><span  class="labelStyleLeft">   {{itemDesc.label}} </span> {{itemDesc.value |   date:'dd/MM/yyyy  HH:mm a'}}  </p>
            </a>
        </div>
        <!-- <div class="list">
    <a class="item item-avatar " ng-repeat="citem in listOfData track by $index">
        <img src="{{centralServer}}{{citem.iconsImages[0].imageURL}}">
        <h2>{{citem.iHeader}}</h2>
        <p class=" {{ (pageSpecificData.theme === '' ||  pageSpecificData.theme === undefined )? '' : 'Tab'+pageSpecificData.theme }}" ng-repeat="itemDesc in citem.descList track by $index"><span class="labelStyleLeft">{{itemDesc.label}}</span> : {{itemDesc.value}}</p>
        </p>
    </a>
</div>
 -->
    </ion-content>
</ion-view>
