.menu-text,.menu-icon
{
    color: #FFF !important;
}
.bgimage
{
    !background-repeat: no-repeat !important;
    !background-size: cover !important;
}

.menu-iconLeft-item
{
    border-color: rgba(255, 255, 255, 0);
    background-color: transparent !important;
}
.fname,.lname
{
    font-size: 18px !important;
    color: #FFF !important;
}
.menu-iconLeft-item-avatar
{
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
    float: right;   
}
.ppk
{
    /*position: absolute;*/
    top: 16px;
    left: 16px;
    max-width: 57px;
    max-height: 53px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.menu-iconLeft-item {
    border-color:transparent !important;
    background-color:transparent !important ;
    color: #000;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}
.menu-iconLeft-h2 {
    margin: 1px 46px 2px 0 !important;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}